<%= render 'home_nav' %>

<div class="container-fluid">
  <div class="container ad-home-container">
    <div class="ad-content">
      <%= render 'show_ad_content' %>
    </div>
    <div class="filter-content">
      <% @categories.each do |category| %>
        <%= link_to category.name, ads_filter_path(:category => category.id), class: "filter-item" %>
      <% end %>
    </div>
  </div>
</div>
