<div class="container-fluid">
  <div class="container ad-content-container">
    <!--  ADD CONDITIONAL TO MOVE THE FILTER CONTENT TO THE TOP OF THE PAGE WHEN MEDIA WIDTH IS SMALL -->
    <div class="row">
      <div class="col-lg-2">
        <%= render 'show_filter_content' %>
      </div>
      <div class="col-lg-10">
        <%= render 'show_ad_content' %>
      </div>
    </div>
    <!-- END CONDITIONAL -->
  </div>
</div>
