<div class="container-fluid">
  <div class="ad-home-container">
    <div class="ad-content">
      <h3>Displaying all published ads</h3>
      <%= render 'show_ad_content' %>
    </div>
    <div class="filter-content">
      <%= render 'show_filter_content' %>
    </div>
  </div>
</div>
