<div class="container-fluid">
  <div class="container ad-content-container">
    <h4 class="ad-main-header-text">All Published Ads</h4>
    <div class="row">
      <div class="col-lg-2">
        <%= render 'show_filter_content' %>
      </div>
      <div class="col-lg-10">
        <%= render 'show_ad_content' %>
      </div>
    </div>
    <div class="ad-pagination-container">
      <%= paginate @ads %>
    </div>
  </div>
</div>
