<div class="container-fluid">
  <div class="ad-home-container">
    <div class="ad-content">
      <h3>Displaying all ads by <%= @ads.first.user.first_name %> <%= @ads.first.user.last_name %></h3>
      <%= render 'show_ad_content' %>
    </div>
  </div>
</div>
