<div class="container-fluid">
  <div class="container">
    <div class="row poster-container">
      <div class="col-lg-12">
        <!--  Handle when a user has no Ads -->
        <% if @ads.count == 0 %>
          <div class="no-content-container">
            <h3>You have no listed ads</h3>
            <p>Want to create an ad? Click <%= link_to "here", new_ad_path %>.</p>
          </div>
        <% else %>
          <%= render 'show_ad_content' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
