<div class="container-fluid">
  <div class="container ad-content-container">
    <h4>Purchase Page for <%= @ad.title %></h4>
    <div class="row">
      <div class="col-md-5">
        <div class="purchase-field-container">
          <h5>Payment Info</h5>
        </div>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-5">
        <div class="purchase-field-container">
          <h5>Shipping Info</h5>
        </div>
      </div>
    </div>
  </div>
</div>
