// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  min-width: 140em;
  margin: 5em 0 10em;
}

.container {
  min-width: 140em;
  min-height: 60em;
}

.ad-content {
  border: 1px solid black;

  min-height: 60em;
  min-width: 85em;
  max-width: 100em;

  margin-left: 15em;
  padding: 2.5em 4em;
  float: left;
}

.filter-content {
  border: 1px solid black;

  min-height: 60em;
  min-width: 25em;

  margin-left: 5em;
  padding: 2.5em 4em;
  float: left;
}
