// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  min-width: 140em;
  margin-top: 5em;
}

.container {
  min-width: 140em;
  min-height: 60em;
}

.ad-content {
  border: 1px solid black;

  min-height: 60em;
  min-width: 85em;
  max-width: 100em;

  margin: 0 0 5em 15em;
  padding: 2.5em 3em;
  float: left;
}

.filter-content {
  border: 1px solid black;

  min-height: 60em;
  min-width: 25em;

  margin-left: 5em;
  padding: 2.5em 4em;
  float: left;
}

.ad-item {
  min-height: 160px;
  padding: 10px;
}

.ad-item:nth-child(even){
  // Hex color stems from Bootstrap bg-light's color
  background-color: #f8f9fa;
}
