/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "bootstrap";

*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  // Margin bottom to account for footer
  margin-bottom: 10em;
}



/******   NAV STYLES  ******/

.navbar {
  height: 8em;
  padding: 2.5em;
  min-width: 140em;
}

.nav-bar .nav-link li a {
  font-size: 1.2em;
}

.nav-item > .nav-link {
  color: white;
}

.navbar > .navbar-brand > img {
  height: 6em;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.5em;
}

.nav-right {
  margin: 0 1em;
}

.nav-right > .nav-item > a {
  margin: 0 1em;
}

.nav-right > .nav-item > a:hover {
  color: white;
}

/******   END NAV STYLES  ******/



footer {
  text-align: center;
  width: 100%;
  overflow: hidden;
  height: 5em;

  position: absolute;
  left: 0;
  bottom: 0;
  overflow:hidden;
}

footer > p {
  padding: 1.50em;
  font-size: 1.2em;
}
