// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.charge-content-container {
  background-color: white;
  padding: 3.5em;
  margin-top: 5em;
  text-align: center;
}

.ad-preview-card {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.charges-title-text {
  text-align: center;
}

.card {
  padding: 5px;
  height: 100%;
}

.charges-card {
  text-align: center;
  margin: 0 auto;
  display: block;
}

#stripe-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}
