.auth-container {
  width: 60em;
  margin: 5em auto;
  background-color: white;
  padding: 2.5em 3em;
}

.profile-settings-btn {
  float: right;
}

.user-form-image{
  width: 150px;
  height: 150px;
  margin: 3em auto;
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 80px;
  }
}

// Devise field class style override
.field_with_errors > input {
  width: 100%;
  border: 2px solid #c03f30;
}

.field_with_errors > input:focus {
  outline: none;
  border-color: #c03f30;
  box-shadow: 0 0 10px #c03f30;
}
