// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-content-container{
  background-color: white;
  padding: 3.5em;
  margin-top: 5em;
}

.order-address-container{
  background-color: #f8f9fa;
  padding: 2.5em;
  margin-bottom: 1em;
}

.ad-preview-card {
  text-align: center;
}

.order-btn-container{
  float: right;
  display: block;
}
