// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-content-container{
  background-color: white;
  padding: 3.5em;
  margin-top: 5em;
  overflow: hidden;
}

.order-item {
  display: inline-block;
  float: left;
  padding: 1em;
}

.order-item:nth-child(even){
  background-color: #f8f9fa;
}
