.sale-content-container{
  background-color: white;
  padding: 3.5em;
  margin-top: 5em;
}

.sale-main-header-text{
  text-align: center;
  padding-bottom: 1em;
}

.sale-card {
  width: 100%;

  .sale-card-title {
    font-size: 1.1em;
    text-decoration: underline;
  }
}

.sale-block-container{
  color: white;

  .sale-card-block {
    display: inline-block;
    width: 49.45%;
    text-align: center;
    padding-top: 3px;
    border-radius: 5px;
    background-color: #263238;

    hr {
      border-top: 1px solid white;
      margin: 0;
    }
  }
}
