.sale-content-container{
  background-color: white;
  padding: 3.5em;
  margin-top: 5em;
}

.sale-main-header-text{
  text-align: center;
  padding-bottom: 1em;
}

.sale-card {
  width: 100%;
}

.sale-block-container{
  color: white;

  .sale-card-block {
    display: inline-block;
    width: 49.45%;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    border-radius: 5px;
  }

  .sale-card-block:nth-child(1){
    background-color: #263238;
  }

  .sale-card-block:nth-child(2){
    background-color: #37474F;
  }

  .sale-card-block:nth-child(3){
    background-color: #4B515D;
  }

}
