<div class="container-fluid">
  <div class="container sale-content-container">
    <h4 class="sale-main-header-text">Sale Log</h4>
    <div class="row">
      <%= render 'show_sale_content' %>
    </div>
  </div>
</div>
